
<div class="header">
    <h2>Danh sách tài khoản</h2>
</div>


<table class="table">
    <tr>
        <th>ID</th>
        <th>Tài khoản</th>
        <th>Mật Khẩu</th>
        <th>Tên người dùng</th>
        <th>Mail</th>
        <th>Số điện thoại</th>
        <th>Số dư tài khoản</th>
        <th>Vai trò</th>
        <th>Hành động</th>
    </tr>
    <% data.forEach((account) => { %>
        <tr>
            <td><%= account.user_id %></td>
            <td><%= account.account %></td>
            <td><%= account.password %></td>
            <td><%= account.name %></td>
            <td><%= account.mail %></td>
            <td><%= account.phone %></td>
            <td><%= account.blance %></td>
            <td><%= account.role %></td>

            <td>
                <a href="/manage/accounts/edit/<%= account.id %>" >sửa</a>
                <a href="/manage/accounts/delete/<%= account.id %>">xóa</a>
            </td>
        </tr>
    <% }); %>

</table>

<button onclick="goToPage('manage/accounts/add')">Thêm mới</button>